$primary_color:#36415A;
$secondary_color:#047DFF;
$white_color:#ffffff;
$thurd_color:#15D895;
$theme3_color:#E8505B;
$theme3_bg:#E8505B;
$bg7:#dc4550;
$primary_bg:#36415A;
$secondary_bg:#047DFF;
$thurd_bg:#15D895;
$fourth_bg:#EFF0F1;
$bg5:#2D4BFF;
$body_bg1:#fafafa;
$body_bg2:#fcfcfc;
$body_bg3:#EEEEF0;
$white_bg:#ffffff;
$separator_bg:#EAEBED;
$separator_dark:#4B546B;
$social2_bg:#404B62;
$six_bg:#1D5EAC;
$shadow1:#f1f1f1;
$bg5:#096fdc;
$bg6:#1ec58c;
$bar_bg: #EAEBEE;
$portfolio_bg:#263045;
$transparent_bg: transparent;
$gradient1:linear-gradient(45deg, #15D895, #ffffff);
$gradient3:linear-gradient(0deg, #dc4550, transparent);
